<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Add Coin</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
		.btn
		{
			width: 90px;
		}
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button
		{ 
  			-webkit-appearance: none; 
  			margin: 0; 
		}

		input[type=number]
		{
			-moz-appearance: textfield;
		}
		</style>
	</head>

	<body>
		<div class="container">
			<h1>Add Coin</h1>
			<form method="post" action="/coins/add">
				<div class="form-group col-md-3">
					<label for="name">Name</label>
					<input type="text" required tabindex="1" class="form-control" id="name" name="name" />
				</div>
				<div class="form-group col-md-3">
					<label for="price">Price</label>
					<input type="number" step="any" required tabindex="2" class="form-control" id="price" name="price" />
				</div>
				<div class="form-group col-md-3">
					<button type="submit" tabindex="3" class="btn btn-default btn-outline-primary">Add</button>
					&nbsp;
					<a href="/coins" tabindex="4" class="btn btn-outline-primary">Cancel</a>
				</div>
			</form>
		</div>
	</body>
</html>